<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <div class="collapse navbar-collapse"> -->
        <div class="navbar-nav">
            <!-- <a class="nav-link" routerLinkActive="active" routerLink="/followers">Followers</a> -->
            <a class="nav-link" routerLinkActive="active"
                routerLink="/followers"
                [queryParams]="{ page : 1, order: 'newest'}"
                >Followers</a>
            <a class="nav-link" routerLinkActive="active"  routerLink="/posts">Posts</a>
        </div>
    <!-- </div> -->
</nav>